.input {
    padding: 12px 20px;
    background-color: var(--white);
    border-radius: 12px;
    border: none;
    margin: 1px;

    font-size: var(--font-size-body);
    line-height: 16px;
    color: var(--dark-grey);
}

.input::placeholder {
    color: var(--light-grey-4);
}

.input:focus {
    outline: 1px solid var(--light-grey-4);
}