body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'NotoSans', sans-serif;
}

* {
    --white: #FFF;
    --dark-grey: #3A3A3A;
    --dark-grey-2: #84868C;
    --light-grey: rgba(58, 58, 58, 0.04);
    --light-grey-2: #F1F5F9;
    --light-grey-3: rgba(58, 58, 58, 0.12);
    --light-grey-4: rgba(58, 58, 58, 0.32);
    --light-grey-5: rgba(58, 58, 58, 0.08);
    --blue: #1E89F0;
    --red: #D44333;

    --font-size-h1: 28px;
    --font-size-h2: 22px;
    --font-size-h3: 20px;
    --font-size-body: 16px;
    --font-size-body2: 14px;
    --font-size-caption: 12px;
    --font-size-caption-2: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

button:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:hover {
    opacity: 0.8;
}
